.DS_Store
_notes/dwsync.xml
assets/css/_notes/dwsync.xml
assets/fonts/Bitter/_notes/dwsync.xml
assets/fonts/Work_Sans/_notes/dwsync.xml
assets/fonts/Work_Sans/static/_notes/dwsync.xml
assets/images/_notes/dwsync.xml
assets/js/_notes/dwsync.xml
includes/_notes/dwsync.xml
